*{
  margin: 0;
  padding: 0;
}
.hero{
  height: 100vh;
  width: 100%;
  background:#edf2fc;
  font-family: sans-serif;
  position: relative;
} 
nav{
  width: 84%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 165px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;                          
}
nav ul li a{
  text-decoration: none;
  color: #606163;
}
nav ul li a:hover{
  color :#ff4321;
}
.info{
  margin-left: 8%;
  margin-top: 15%;
}
.info h1{
  font-size: 70px;
  color: #212121;
  margin-bottom: 20px;
}
span{
  color: #ff4321 ;
}
.info p {
  color: #606163;
  line-height: 22px;
}
.info a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
 .img-box{
  width: 5%;
  height:80%;
  position: absolute;
  bottom: 0;
  left: 1000px;
  right: 80px;
}
.img-box img{
  height: 90%;
  position: absolute;
  bottom: 0;
  transform:translateX(-50%) ;
  transition: bottom 1s, left 2s;
} 

.img-box:hover .back-img{
  bottom: 10px;
}

.img-box:hover .main-img{
  left: 44%;
}